In [1]:
import pandas as pd

In [4]:
emprerors = pd.read_csv("../data/Emperors_lengths.csv", sep=";")

In [5]:
emprerors.head(5)

,Name,Assassinated emperor,Reign length (years),1st century CE,2nd century CE,3rd century CE
0,Nerva,0,1.358011,1.0,NaN,NaN
1,Trajan,0,19.524149,1.0,1.0,NaN
2,Hadrian,0,20.912277,NaN,1.0,NaN
3,Antoninus Pius,0,22.659073,NaN,1.0,NaN
4,Marcus Aurelius,0,19.028584,NaN,1.0,NaN